	@keyframes inandaway {
		0%   { left:100em; opacity:0;   }
		10%  { left:1em;   opacity:1;   }
		60%  { left:1em;   opacity:0.9; }
		100% { left:1em;   opacity:0;   }
	}


	/* All html objects will be wrapped in the #wrap div */
	.goal-cont {
		color: white;
		background: transparent;
		font-family:"Open Sans",sans-serif;
		left:120%;
		opacity:0;            
		position:fixed;
		width:40em;
	}

		.goal-cont.run_animation {  
			animation-name: inandaway;
			animation-duration: 20s;
			animation-iteration-count: 1;
		}


	.goal-cont #title {
		font-size: 2em;
		text-align: center;   
		background: transparent;
		color:white;
		text-shadow: 0px 0px 4px #000000;
	}

	.goal-cont #goal-bar {
		display:block;
		font-size: 2em;
		background-color:#fff;
		color:#000;
		position:relative;
		border-style:solid;
		border-width:2px;
		height:2.35em;
		font-weight:bold;
		text-shadow: 0.2em 0.2em 0.2em #555;
	}

	.goal-cont #goal-bar #goal-current{
		display:block;
		overflow:visible;
		position:absolute;
		left:0;
		background-color:#46e65a;
		width:33%;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		padding-left: 1em;
	}

	.goal-cont #goal-bar #goal-total{
		display:block;
		overflow:visible;
		position:absolute;
		right:0;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		padding-right: 1em;
	}

	.goal-cont #goal-end-date{
		display:none;
	}
